$textColor: #4c3d4c;

.container {
  color: $textColor;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 3px 1px #cf5ecf;
  width: 25rem;
  height: 30rem;
  margin-bottom: 3rem;
  overflow: hidden;
  a {
    text-decoration: none;
    color: black;
  }
  .bannerImg {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .descContainer {
    padding: 10px;
    h3 {
      font-weight: 600;
      text-align: center;
    }
    p {
      font-style: italic;
    }
    span {
      font-size: 1rem;
    }
    .findMore {
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      background-image: linear-gradient(#bd17bd, #c651c6);
      &:hover {
        background-image: linear-gradient(#d62ad6, #c862c8);
      }
      a {
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
  }
  button {
    margin-bottom: 1rem;
    height: 2.5rem;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.buttonDiv {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .dark {
    background-color: black;
    color: white;
    &:hover {
      background-color: rgb(27, 27, 27);
    }
  }
  .light {
    background-color: lightgray;
    color: rgb(48, 48, 48);
    &:hover {
      background-color: rgb(182, 180, 180);
    }
  }
}
