.swiperText {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 0, 0, 2px 5px;
  padding: 5px;
  width: 90%;
  text-align: center;
}
