@use "../colors";

$backgroundColor: #ffff00;
$textColor: #4c3d4c;
.skillsContainer {
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(
    to bottom right,
    colors.$blueLightest,
    colors.$blueLighter 50%,
    colors.$background 50%,
    colors.$backgroundLightest
  );
  span {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: colors.$midText;
  }
}
