//Yellow
$background: #fdfdbd;
//lighter
$backgroundLighter: #ffffef;
$backgroundLight: #fefece;
$backgroundLightest: #fffff7;
//darker
$backgroundDark: #dddda5;

//blues
$blue: #bdfdfd;
//lighter
$blueLighter: #efffff;
$blueLight: #d6fefe;
$blueLightest: #f7ffff;
//darker
$blueDark: #a5dddd;
$blueDarkest: #8ebebe;

//purples
$purple: #fdbdfd;
//lighter
$purpleLight: #fedefe;
$purpleLightest: #ffefff;
//darker
$purpleDark: #dda5dd;
$purpleDarkest: #7f387f;
//text
$midText: #8f8f87;
$darkText: #202018;
$darkerText: #3f3f2f;
$lightText: #fefee6;
