//Yellow
$background: #fdfdbd;
//lighter
$backgroundLight: #ffffef;
$backgroundLightest: #fefece;
//darker
$backgroundDark: #dddda5;

//blues
$blue: #bdfdfd;
//lighter
$blueLightest: #efffff;
$blueLight: #d6fefe;
//darker
$blueDark: #a5dddd;
$blueDarkest: #8ebebe;

//purples
$purple: #fdbdfd;
//lighter
$purpleLight: #fedefe;
$purpleLightest: #ffefff;
//darker
$purpleDark: #dda5dd;
$purpleDarkest: #7f387f;
//text
$midText: #8f8f87;
$darkText: #202018;
$darkerText: #3f3f2f;
$lightText: #fefee6;

$lightPurple: #cf5ecf;
$darkPurple: #210121;
.footerContainer {
  width: 100vw;
  height: 4rem;
  background-image: linear-gradient($purple, $purpleDarkest);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f7f7f7;
  .footerIconsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    @media (max-width: 630px) {
      margin-left: 1.5rem;
    }
  }
  .footerIconsDiv > * {
    margin-right: 1.5rem;
    cursor: pointer;
    &:hover {
      color: white;
    }
    @media (max-width: 630px) {
      margin-right: 0.5rem;
    }
  }
  .footerContacts {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 3rem;
    font-size: 1rem;
    @media (max-width: 630px) {
      font-size: 0.8rem;
      margin-right: 0.5rem;
    }
    span {
      display: flex;
      align-items: center;
      height: 2rem;
    }
    .contactIcon {
      height: 80%;
    }
  }
}
