@use "../colors";

.expandContainer {
  display: flex;
  width: 100vw;
  background-color: colors.$backgroundLightest;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .expandHeader {
    width: 100%;
    color: colors.$midText;
    text-align: center;
    margin: 0;
    height: 40px;
  }
  .wrapperWrap {
    width: 70%;
    margin: 3rem;
    @media (max-width: 780px) {
      width: 95%;
    }
  }
  .sliderWrapper {
    width: 100%;
    background-color: gray;
    position: relative;
  }

  .furtherInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      width: 100%;
      text-align: center;
      color: colors.$midText;
      margin-top: 3rem;
    }
    .buttonsDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      button {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: colors.$blue;
        border: 1px solid colors.$midText;
        &:hover {
          background-color: black;
          color: colors.$backgroundLightest;
        }
      }
    }
    .whyDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 60%;
    }
    p {
      max-width: 50%;
      text-align: center;
      color: rgb(81, 80, 80);
      @media (max-width: 768px) {
        width: 80%;
      }
    }
    .whyHr {
      width: 10%;
      border: none;
      border-top: 0.5rem dotted lightgray;
      margin: 0.5rem 30%;
    }
    .lists {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-top: 3rem;
      margin-bottom: 2rem;
      background-image: linear-gradient(
        colors.$background,
        colors.$backgroundLightest
      );
      @media (max-width: 480px) {
        flex-direction: column;
      }
      h3 {
        text-align: center;
        width: 100%;
        height: 3rem;
        color: colors.$midText;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      .projectLists {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (max-width: 480px) {
          width: 100%;
          height: auto;
        }

        li {
          list-style: none;
          margin-top: 0.5rem;
          color: colors.$midText;
          font-weight: 600;
          width: 80%;
        }
      }
    }
  }
}
