.expandContainer {
  display: flex;
  width: 100vw;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .expandHeader {
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
    height: 40px;
  }
  .wrapperWrap {
    width: 70%;
    margin: 3rem;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  .sliderWrapper {
    width: 100%;
    background-color: gray;
    position: relative;
  }

  .furtherInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      width: 100%;
      text-align: center;
      color: gray;
    }
    .buttonsDiv {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      button {
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
    .lists {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin-top: 3rem;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      h3 {
        text-align: center;
        width: 100%;
        height: 3rem;
        background-color: #fafa71;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
      .projectLists {
        width: 50%;
        border: 1px solid gray;
        height: 100%;
        @media (max-width: 480px) {
          width: 100%;
        }
        li {
          list-style: none;
          margin-top: 0.5rem;
          margin-left: 1rem;
          color: rgb(97, 96, 96);
        }
      }
    }
  }
}
